In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
from datetime import timedelta
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm

In [2]:
naming_map = pd.read_csv('datasets/naming_map.csv')
naming_map

,full_name,short_name,code_name
0,3K3-P11*-gfp-B15-P(ara)-sECF11*-SP1-P(Cym)-32-...,e11x32M86,A1
1,3K3-P11*-gfp-B15-P(ara)-sECF11*-SP2-P(Cym)-30-...,e11x30STNpuSspS2,A2
2,3K3-P11*-gfp-B15-P(ara)-sECF11*-SP2-P(Cym)-32-...,e11x32NpuSspS2,A3
3,3K3-P11*-gfp-B15-P(ara)-sECF11*-SP2-P(Cym)-30-...,e11x30NpuSspS1,A4
4,3K3-P11*-gfp-B15-P(ara)-sECF11*-SP3-P(Cym)-32-...,e11x32gp411,A5
...,...,...,...
357,3K3-P38*-gfp-B15-P(ara)-sECF38*-P(Cym),e38,A349
358,3K3-P41*-gfp-B15-P(ara)-sECF41*-P(Cym),e41,A350
359,3K3-P42*-gfp-B15-P(ara)-sECF42*-P(Cym),e42,A351
360,NaN,gfp_med,3K-E422
361,NaN,gfp_low,E422

In [3]:
naming_map[naming_map['code_name']=='A323']

,full_name,short_name,code_name
331,3K3-P42*-gfp-B15-P(ara)-sECF42*-SP6-P(Cym)-32-...,e42x32STIMPDH1,A323

### Data from plate reader 1

In [4]:
def cleanse_plate(plate):
    plate = plate.melt(id_vars=['Unnamed: 0'])
    plate['value'] = plate['value'].apply(lambda x: x.split('.')[0])
    plate['variable'] = plate['variable'].apply(lambda x: "{:02d}".format(int(x)))
    plate['variable'] = plate['Unnamed: 0'] + plate['variable']
    plate.drop('Unnamed: 0', axis=1, inplace=True)
    return plate.reset_index(drop=True)

plate1 = cleanse_plate(pd.read_csv('datasets/plate1_map.csv'))
plate1

   variable value
0       A01    A5
1       B01   A37
2       C01   A59
3       D01   A79
4       E01   A95
..      ...   ...
91      D12   A94
92      E12  A105
93      F12  A121
94      G12  A137
95      H12     B

[96 rows x 2 columns]

In [5]:
def read_plate_data(filename):
    df = pd.read_csv('datasets/' + filename + '.csv')
    df.columns = df.iloc[0]
    df.drop(df.index[0], inplace=True)
    df.dropna(inplace=True)
    return df.reset_index(drop=True)

In [6]:
df11 = read_plate_data('and_gate_11') # up to 20h
print(df11.shape)
df12 = read_plate_data('and_gate_12') # up to 16h
print(df12.shape)
df13 = read_plate_data('and_gate_13') # up to 16h
print(df13.shape)

(93, 125)
(93, 101)
(93, 101)

In [5]:
merged = pd.merge(df11['Well'], plate1, left_on='Well', right_on='variable', how='left')
merged = pd.merge(merged, naming_map, left_on='value', right_on='code_name', how='left')
name1 = merged['short_name']

In [47]:
def parse_minutes(x):
    spl = x.split(' ')
    hours = int(spl[0]) * 60
    mins = int(spl[2]) if spl[2] != '' else 0
    return hours + mins

def transpose_data(df_raw):
    df = df_raw.copy()
    df.set_index('short_name', inplace=True)
    df = df.transpose().reset_index()
    df['time'] = df['index'].apply(parse_minutes)
    df = df.set_index('time')
    df = df.drop('index', axis=1)
    return df

def generate_data(df, plate, name, h=20):
    
    start_idx = 3
    mid_idx = 52 if h==16 else 64
    fluo = (df.iloc[:, start_idx:mid_idx]).astype(float)
    od = (df.iloc[:, mid_idx:]).astype(float)
    bulk_fluo = fluo * od
    
    fluo = pd.concat([name, fluo], axis=1)
    od = pd.concat([name, od], axis=1)
    bulk_fluo = pd.concat([name, bulk_fluo], axis=1)
    
    bulk_fluo = transpose_data(bulk_fluo)
    fluo = transpose_data(fluo)
    od = transpose_data(od)
    
    return fluo, od, bulk_fluo

In [ ]:
fluo11, od11, bulk_fluo11 = generate_data(df11, plate1, name1, 20)
fluo12, od12, bulk_fluo12 = generate_data(df12, plate1, name1, 16)
fluo13, od13, bulk_fluo13 = generate_data(df13, plate1, name1, 16)

In [ ]:
def plot_all(data, num_row, num_col):
    f, axs = plt.subplots(num_row, num_col, sharex=True, sharey=False, figsize=(14, num_row*2))
    axr = axs.ravel()
    for i, ax in tqdm(enumerate(axr)):
        if i < data[0].shape[1]:
            for d in data:
                ax.plot(d.index/60, d.iloc[:, i])
            ax.set_title(data[0].columns[i])
            ax.set_xlabel('Time (h)')
        else:
            ax.set_visible(False)
    plt.tight_layout()
    sns.despine()
    
#plot bulk fluorescence data
plot_all([bulk_fluo11, bulk_fluo12, bulk_fluo13], 20, 5)

In [ ]:
plot_all([od11, od12, od13], 20, 5)

In [13]:
bulk_fluo1 = (bulk_fluo11 + bulk_fluo12 + bulk_fluo13) / 3
fluo1 = (fluo11 + fluo12 + fluo13) / 3
od1 = (od11 + od12 + od13) / 3

In [16]:
bulk_fluo1.dropna().to_csv('datasets/bulk_fluo_plate_1_triplicate.csv')
fluo1.dropna().to_csv('datasets/fluo_plate_1_triplicate.csv')
od1.dropna().to_csv('datasets/od_plate_1_triplicate.csv')

### Data from plate reader 2

In [17]:
plate2 = cleanse_plate(pd.read_csv('datasets/plate2_map.csv'))
df21 = read_plate_data('and_gate_21') # up to 20h
print(df21.shape)
df22 = read_plate_data('and_gate_22') # up to 16h
print(df22.shape)
df23 = read_plate_data('and_gate_23') # up to 16h
print(df23.shape)

(91, 127)
(91, 135)
(91, 137)

In [21]:
merged = pd.merge(df21['Well'], plate2, left_on='Well', right_on='variable', how='left')
merged = pd.merge(merged, naming_map, left_on='value', right_on='code_name', how='left')
name2 = merged['short_name']

In [22]:
def generate_data2(df, plate, name, h):
    
    f_start = 3
    f_end = 64
    if h==1:
        o_start, o_end = 65, -1
    elif h==2:
        o_start, o_end = 69, -5
    elif h==3:
        o_start, o_end = 70, -6
    fluo = (df.iloc[:, f_start:f_end]).astype(float)
    od = (df.iloc[:, o_start:o_end]).astype(float)
    bulk_fluo = fluo * od
    
    fluo = pd.concat([name, fluo], axis=1)
    od = pd.concat([name, od], axis=1)
    bulk_fluo = pd.concat([name, bulk_fluo], axis=1)
    
    bulk_fluo = transpose_data(bulk_fluo)
    fluo = transpose_data(fluo)
    od = transpose_data(od)
    
    return fluo, od, bulk_fluo

fluo21, od21, bulk_fluo21 = generate_data2(df21, plate2, name2, 1)
fluo22, od22, bulk_fluo22 = generate_data2(df22, plate2, name2, 2)
fluo23, od23, bulk_fluo23 = generate_data2(df23, plate2, name2, 3)

In [ ]:
plot_all([bulk_fluo21, bulk_fluo22, bulk_fluo23], 20, 5)

In [ ]:
plot_all([od21, od22, od23], 20, 5)

In [23]:
bulk_fluo2 = (bulk_fluo21 + bulk_fluo22 + bulk_fluo23) / 3
fluo2 = (fluo21 + fluo22 + fluo23) / 3
od2 = (od21 + od22 + od23) / 3

In [25]:
bulk_fluo2.to_csv('datasets/bulk_fluo_plate_2_triplicate.csv')
fluo2.to_csv('datasets/fluo_plate_2_triplicate.csv')
od2.to_csv('datasets/od_plate_2_triplicate.csv')

### Induction Matrix

In [4]:
induction = read_plate_data('induction') # up to 20h
print(induction.shape)

(87, 147)

In [6]:
induction_plate = {
    'A01': 'A18', 'A02': 'A18', 'A03': 'A18', 
    'B01': 'A18', 'B02': 'A18', 'B03': 'A18', 
    'C01': 'A18', 'C02': 'A18', 'C03': 'A18', 
    'D01': 'A195', 'D02': 'A195', 'D03': 'A195', 
    'E01': 'A195', 'E02': 'A195', 'E03': 'A195', 
    'F01': 'A195', 'F02': 'A195', 'F03': 'A195', 
    'A04': 'A29', 'A05': 'A29', 'A06': 'A29', 
    'B04': 'A29', 'B05': 'A29', 'B06': 'A29', 
    'C04': 'A29', 'C05': 'A29', 'C06': 'A29', 
    'D04': 'A259', 'D05': 'A259', 'D06': 'A259', 
    'E04': 'A259', 'E05': 'A259', 'E06': 'A259', 
    'F04': 'A259', 'F05': 'A259', 'F06': 'A259', 
    'A07': 'A76', 'A08': 'A76', 'A09': 'A76', 
    'B07': 'A76', 'B08': 'A76', 'B09': 'A76', 
    'C07': 'A76', 'C08': 'A76', 'C09': 'A76', 
    'D07': 'A267', 'D08': 'A267', 'D09': 'A267', 
    'E07': 'A267', 'E08': 'A267', 'E09': 'A267', 
    'F07': 'A267', 'F08': 'A267', 'F09': 'A267', 
    'A10': 'A109', 'A11': 'A109', 'A12': 'A109', 
    'B10': 'A109', 'B11': 'A109', 'B12': 'A109', 
    'C10': 'A109', 'C11': 'A109', 'C12': 'A109', 
    'D10': 'A294', 'D11': 'A294', 'D12': 'A294', 
    'E10': 'A294', 'E11': 'A294', 'E12': 'A294', 
    'F10': 'A294', 'F11': 'A294', 'F12': 'A294', 
    'G01': 'A323', 'G02': 'A323', 'G03': 'A323', 
    'G04': 'A323', 'G05': 'A323', 'G06': 'A323', 
    'H01': 'A323', 'H02': 'A323', 'H03': 'A323', 
}
induction_row = {
    'A': 0, 'B': 1, 'C': 2, 'D': 0, 'E': 1, 'F': 2,
    'G': 0, 'H': 1 #column g needs to be manually adjusted later
}
induction_col = {
    '01': 0, '02': 1, '03': 2, '04': 0, '05': 1, '06': 2, 
    '07': 0, '08': 1, '09': 2, '10': 0, '11': 1, '12': 2 
}

In [7]:
index = induction.iloc[:,:3]
index['code_name'] = index['Well'].map(induction_plate)
col_idx = index['Well'].str[1:]
row_idx = index['Well'].str[:1]
index['ind1_lvl'] = row_idx.map(induction_row)
index['ind2_lvl'] = col_idx.map(induction_col)
index.loc[index['Well'].isin(['G04', 'G05', 'G06']), 'ind1_lvl'] = 2
#index = index.dropna()
index.loc[index['code_name'].isnull(), 'code_name'] = 'control'
name = pd.merge(index[['code_name', 'ind1_lvl', 'ind2_lvl']], naming_map[['code_name', 'short_name']], on='code_name', how='left')
name

<ipython-input-7-44c6301b7c15>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  index['code_name'] = index['Well'].map(induction_plate)
<ipython-input-7-44c6301b7c15>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  index['ind1_lvl'] = row_idx.map(induction_row)
<ipython-input-7-44c6301b7c15>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  index['ind2_lvl'] = col_idx.map(induction_col)
/Users/mardian/Documents/Edinburgh/Notebook/env/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

   code_name  ind1_lvl  ind2_lvl       short_name
0        A18         0         0  e11x32STPhoRadA
1        A18         0         1  e11x32STPhoRadA
2        A18         0         2  e11x32STPhoRadA
3        A29         0         0   e15x32NpuSspS2
4        A29         0         1   e15x32NpuSspS2
..       ...       ...       ...              ...
82   control         1         1              NaN
83   control         1         2              NaN
84   control         1         0              NaN
85   control         1         1              NaN
86   control         1         2              NaN

[87 rows x 4 columns]

In [9]:
index[index['code_name']=='A323']

0  Well     Content Group code_name  ind1_lvl  ind2_lvl
72  G01  Sample X73     A      A323         0         0
73  G02  Sample X74     A      A323         0         1
74  G03  Sample X75     A      A323         0         2
75  G04  Sample X79     A      A323         2         0
76  G05  Sample X80     A      A323         2         1
77  G06  Sample X81     A      A323         2         2
78  H01  Sample X76     A      A323         1         0
79  H02  Sample X77     A      A323         1         1
80  H03  Sample X78     A      A323         1         2

In [72]:
def parse_minutes(x):
    spl = x.split(' ')
    hours = int(spl[0]) * 60
    mins = int(spl[2]) if spl[2] != '' else 0
    return hours + mins

def transpose_data(df_raw):
    df = df_raw.copy()
    df.set_index('short_name', inplace=True)
    #df = df.transpose().reset_index()
    #df['time'] = df['index'].apply(parse_minutes)
    #df = df.set_index('time')
    #df = df.drop('index', axis=1)
    return df

def generate_data_induce(df, h=24):
    
    start_idx = 3
    mid_idx = h * 3 + start_idx
    fluo = (df.iloc[:, start_idx:mid_idx]).astype(float)
    od = (df.iloc[:, mid_idx:]).astype(float)
    bulk_fluo = fluo * od
    
    fluo = pd.concat([name, fluo], axis=1)
    od = pd.concat([name, od], axis=1)
    bulk_fluo = pd.concat([name, bulk_fluo], axis=1)
    
    #bulk_fluo = transpose_data(bulk_fluo)
    #fluo = transpose_data(fluo)
    #od = transpose_data(od)
    
    return fluo, od, bulk_fluo

fluo, od, bulk_fluo = generate_data_induce(induction)
bulk_fluo

,code_name,ind1_lvl,ind2_lvl,short_name,0 h,0 h 20 min,0 h 40 min,1 h,1 h 20 min,1 h 40 min,2 h,2 h 20 min,2 h 40 min,3 h,3 h 20 min,3 h 40 min,4 h,4 h 20 min,4 h 40 min,5 h,5 h 20 min,5 h 40 min,6 h,6 h 20 min,6 h 40 min,7 h,7 h 20 min,7 h 40 min,8 h,8 h 20 min,8 h 40 min,9 h,9 h 20 min,9 h 40 min,10 h,10 h 20 min,10 h 40 min,11 h,11 h 20 min,11 h 40 min,12 h,12 h 20 min,12 h 40 min,13 h,13 h 20 min,13 h 40 min,14 h,14 h 20 min,14 h 40 min,15 h,15 h 20 min,15 h 40 min,16 h,16 h 20 min,16 h 40 min,17 h,17 h 20 min,17 h 40 min,18 h,18 h 20 min,18 h 40 min,19 h,19 h 20 min,19 h 40 min,20 h,20 h 20 min,20 h 40 min,21 h,21 h 20 min,21 h 40 min,22 h,22 h 20 min,22 h 40 min,23 h,23 h 20 min,23 h 40 min
0,A18,0,0,e11x32STPhoRadA,-78.96738,-45.83040,-57.59525,-15.06912,-29.36070,-25.51758,-36.25440,-54.26145,-70.50281,-28.48326,-43.71081,-50.37120,-75.16554,-80.58232,-57.20488,-27.55778,-6.99600,38.89495,20.67986,-20.29350,1.37970,38.61176,40.39525,-6.46926,9.33543,89.64950,-120.03368,-14.34648,-21.74627,-92.93223,-140.47040,-67.61720,-25.35810,27.99208,-3.02294,17.29614,-9.10336,66.73912,91.64480,158.00298,160.77824,104.22892,159.22760,166.33952,77.21689,27.43440,146.30496,226.40592,279.43905,184.59253,309.49875,251.71968,199.91270,240.99610,193.20345,270.99286,291.85263,137.19000,332.87329,429.14480,316.84284,298.32178,298.43370,281.35152,385.00014,319.50476,397.30530,403.21112,306.32412,335.51838,282.26748,397.84992
1,A18,0,1,e11x32STPhoRadA,-44.63248,-52.88498,-2.47584,-19.83721,-11.65962,-4.93284,-19.04805,-16.18513,-53.31030,-38.47529,-46.03711,-0.48213,-4.49920,-37.68864,-20.58224,72.35130,130.97748,173.35980,181.82072,227.21196,249.70500,263.51652,302.28240,261.80370,297.01602,311.04687,290.82942,278.53696,309.85046,191.91568,281.65125,260.92248,310.83156,247.56654,239.47504,251.62779,303.21594,331.70137,257.04378,379.55675,395.68419,320.57988,380.20752,397.56811,336.20468,313.29385,407.20420,396.31329,554.76180,428.47708,558.38166,470.21106,460.04952,516.72075,489.25359,451.39059,510.36009,449.33968,534.59616,552.63810,483.61040,509.24095,453.68892,589.88052,595.83830,479.39454,515.04689,617.47644,584.24352,469.85328,556.01821,580.25640
2,A18,0,2,e11x32STPhoRadA,-37.24756,-17.70752,-15.20883,-21.43774,-20.21095,9.91232,-9.62712,-19.99946,-40.79250,-42.45948,-24.99512,4.36932,42.58976,-3.99360,6.04890,49.73996,112.51200,140.20032,226.40855,230.46501,212.77912,274.77797,258.84612,278.19190,303.76008,302.72074,304.14685,347.07483,286.48090,254.74176,306.58908,304.95940,378.23976,271.22888,290.05245,287.34406,307.34235,318.20192,321.51712,457.88140,396.31845,363.00684,427.94880,405.54096,367.11210,331.03070,418.49680,392.97915,483.83971,382.91113,515.77636,476.11068,419.92754,449.79844,423.09962,453.40752,481.51466,422.01790,570.19260,558.91760,494.67216,493.46046,434.79504,635.25280,561.17867,475.06176,540.29282,549.04794,547.86980,432.44950,529.20340,473.02530
3,A29,0,0,e15x32NpuSspS2,4.99697,-20.51280,-14.60880,-2.42947,-10.72852,-23.21064,-11.29080,-5.62800,-35.66366,-24.40530,-9.19656,1.71028,61.13718,65.85208,88.89948,110.28774,93.45920,121.58400,130.73084,129.55368,147.56356,202.23578,142.15848,153.69270,186.58512,240.11130,209.91435,179.69013,186.76380,119.63450,207.29544,163.70275,218.00394,239.18620,162.61202,190.67733,205.22862,258.57218,220.71870,299.71631,273.07008,261.48348,321.59952,322.55160,232.11125,235.94435,264.22268,283.05782,344.28114,315.13600,371.69748,318.54390,324.76757,365.40050,303.02636,345.24548,410.33448,294.02970,450.09600,480.09180,351.38250,356.28672,338.47956,475.00551,433.53332,356.83656,413.04560,393.02496,403.06487,366.98731,399.90242,402.16662
4,A29,0,1,e15x32NpuSspS2,-16.21260,-2.38896,-19.47571,-12.54960,-17.91006,-15.10617,-45.35802,-26.42000,-39.62762,-24.27116,-1.08824,16.62100,44.92817,40.80860,61.08880,97.60215,89.00144,133.13044,140.18808,160.19289,164.93080,199.25748,217.95696,212.95414,238.42608,241.15948,249.42736,234.23738,229.04730,205.58384,293.09742,279.28992,296.10220,267.34170,218.89200,243.51222,290.83487,288.85982,246.88144,331.91563,364.43169,273.46544,364.89728,366.89058,286.64485,283.92972,359.02080,341.75652,373.54752,317.60568,475.32756,361.60965,347.20938,375.22944,400.95429,-75.93984,453.35914,354.56095,525.84762,501.07806,448.53978,398.93535,409.88206,546.92980,469.05828,436.49825,496.72735,517.36845,479.01510,373.92348,476.66080,470.00576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,control,1,1,NaN,4412.87056,4811.40009,4982.39679,5542.42182,6389.26431,7460.99240,9085.25152,11259.55953,14220.31634,18786.84850,24258.76250,33091.70610,46408.33845,63185.43640,85689.17947,116044.50806,149511.33373,172885.39700,189256.12875,204741.33120,219482.61621,233333.16444,241568.45256,247343.27000,251733.99251,254955.90090,255792.36760,255861.27066,255574.69392,255698.12448,255702.93840,255463.16636,255605.01340,255529.38918,255398.58428,255333.81001,255264.68109,255265.29054,255130.73250,255229.27956,255112.02925,255087.52898,254972.21800,255130.65660,254882.48619,255016.12975,254951.61648,254863.57977,254935.96995,254863.90558,254969.19738,254829.50259,254744.73828,254617.60198,254703.84268,254694.58020,254656.93253,254549.31432,254564.73042,254577.53000,254489.12823,254390.47642,254311.96213,254642.76173,254432.04864,251691.02465,254530.38903,253097.18196,254283.35280,249706.05912,254263.75456,254286.35931
83,control,1,2,NaN,4633.75819,4950.96189,5144.85804,5686.33000,6512.90464,7775.00845,9277.51064,11525.77755,14547.19200,19129.60945,24686.48748,33955.18188,47177.09850,63801.68928,86999.58318,117331.30045,150983.60125,175007.40480,190519.63424,205163.53110,221614.61244,235701.41518,244766.17440,249469.42208,254894.86404,256001.22834,255888.53976,255684.88998,255537.45553,255460.88547,255586.00698,255561.14850,255424.26233,255411.57870,255264.75651,255259.08084,255226.69044,255121.78652,255128.73660,255053.50647,255027.52556,255001.73950,255014.43068,255010.57484,254882.78064,254885.28876,254676.48976,254650.02840,254817.32848,254777.06922,254628.82125,254638.49295,254636.16090,254401.98576,254531.95756,254480.88612,254464.92230,254384.19600,254495.43876,254387.29632,254376.59769,254187.27886,254250.06469,254316.34837,254265.38512,254196.13681,254167.04250,254068.26812,254068.92315,254064.78464,253991.61322,254040.94975
84,control,1,0,NaN,672.39562,852.24188,1156.50271,1508.24284,1908.06262,2397.35320,3125.84732,4102.74216,5669.07216,7666.82772,11007.35375,15013.37890,17771.76424,19848.12102,22195.47111,24491.18735,25807.07206,27441.60129,28264.50730,28910.55904,29599.55232,30173.01780,30390.34539,30663.57108,30863.58296,30833.56080,31317.42029,31364.40670,31646.68932,31773.35304,32088.50088,32685.80490,32824.29833,33301.17248,33979.18524,34239.99516,34837.97160,35050.09629,35282.29912,35907.10700,35607.45332,35890.37408,36517.36140,36633.52832,36778.18005,36906.65836,37441.76324,37481.13915,37531.97100,38290.90616,37906.23943,37936.42512,38236.21568,37867.30564,38246.00110,38231.74008,38125.83684,38032.21112,38171.33250,38086.96620,38302.53518,38707.37526,38137.41888,38173.90911,38407.26725,38628.87506,38867.48070,38397.74445,38293.10046,38775.00683,38261.61735,38550.38545
85,control,1,1,NaN,712.62986,922.97172,1224.05459,1595.43552,2033.49012,2549.39354,3347.29152,4375.50862,5979.01745,8165.48835,11651.37288,15641.78819,18523.04000,20520.45534,23111.14221,25338.34924,26794.10166,28002.11106,29148.60000,30099.98817,30580.01674,30915.46979,31009.57992,31501.03383,31574.45298,31710.53550,31969.79392,32058.63570,32532.59906,32744.08235,32872.69936,33334.25008,34104.61062,34358.46750,34926.26644,35259.42528,35359.46942,36045.44824,36232.21787,36708.38490,36635.35024,36790.42332,37007.70752,37137.46244,37443.78196,38011.13482,38390.63445,39061.30700,38730.21210,38880.11520,39132.49550,39369.86565,39087.31392,38950.29904,38997.06820,39673.80270,39659.85120,39296.12652,39164.54190,39070.51718,39171.31801,39541.50540,39249.86940,39502.37790,39514.36856,39350.51472,39337.00810,39279.94286,39492.04788,39350.37674,39448.49155,39228.17168
86,control,1,2,NaN,702.57180,952.96960,1256.33400,1649.84435,2126.75706,2633.74440,3436.51216,4475.27025,6152.37017,8399.77992,11999.25110,16194.38332,19253.85315,21717.91772,24203.21640,26684.86541,28320.46819,29682.80271,30854.35525,31664.28470,32054.65655,32684.37228,33064.40249,32987.31890,33622.47528,34067.15466,34062.60195,34164.15999,34617.76424,34909.36134,35269.34400,36020.99368,36545.33565,36453.33350,37123.94739,38282.79356,38539.68034,38711.47905,39183.18464,39336.64119,39722.51435,39659.95008,40282.16192,40303.52580,40471.78030,41075.19885,41637.45488,41642.31801,42065.07954,41997.84430,42330.07626,42735.51654,42886.87311,43039.56776,43416.53806,43340.00424,42924.83238,43283.90724,43483.54115,43517.44360,43792.74396,43487.12074,43334.48160,43689.66780,43391.94120,43654.60688,43289.71036,44424.72248,43753.71308,43803.08478,44342.70673,44136.40500

In [73]:
bulk_fluo[bulk_fluo['short_name']=='e11x32STPhoRadA']

,code_name,ind1_lvl,ind2_lvl,short_name,0 h,0 h 20 min,0 h 40 min,1 h,1 h 20 min,1 h 40 min,2 h,2 h 20 min,2 h 40 min,3 h,3 h 20 min,3 h 40 min,4 h,4 h 20 min,4 h 40 min,5 h,5 h 20 min,5 h 40 min,6 h,6 h 20 min,6 h 40 min,7 h,7 h 20 min,7 h 40 min,8 h,8 h 20 min,8 h 40 min,9 h,9 h 20 min,9 h 40 min,10 h,10 h 20 min,10 h 40 min,11 h,11 h 20 min,11 h 40 min,12 h,12 h 20 min,12 h 40 min,13 h,13 h 20 min,13 h 40 min,14 h,14 h 20 min,14 h 40 min,15 h,15 h 20 min,15 h 40 min,16 h,16 h 20 min,16 h 40 min,17 h,17 h 20 min,17 h 40 min,18 h,18 h 20 min,18 h 40 min,19 h,19 h 20 min,19 h 40 min,20 h,20 h 20 min,20 h 40 min,21 h,21 h 20 min,21 h 40 min,22 h,22 h 20 min,22 h 40 min,23 h,23 h 20 min,23 h 40 min
0,A18,0,0,e11x32STPhoRadA,-78.96738,-45.83040,-57.59525,-15.06912,-29.36070,-25.51758,-36.25440,-54.26145,-70.50281,-28.48326,-43.71081,-50.37120,-75.16554,-80.58232,-57.20488,-27.55778,-6.99600,38.89495,20.67986,-20.29350,1.37970,38.61176,40.39525,-6.46926,9.33543,89.64950,-120.03368,-14.34648,-21.74627,-92.93223,-140.47040,-67.61720,-25.35810,27.99208,-3.02294,17.29614,-9.10336,66.73912,91.64480,158.00298,160.77824,104.22892,159.22760,166.33952,77.21689,27.43440,146.30496,226.40592,279.43905,184.59253,309.49875,251.71968,199.91270,240.99610,193.20345,270.99286,291.85263,137.19000,332.87329,429.14480,316.84284,298.32178,298.43370,281.35152,385.00014,319.50476,397.30530,403.21112,306.32412,335.51838,282.26748,397.84992
1,A18,0,1,e11x32STPhoRadA,-44.63248,-52.88498,-2.47584,-19.83721,-11.65962,-4.93284,-19.04805,-16.18513,-53.31030,-38.47529,-46.03711,-0.48213,-4.49920,-37.68864,-20.58224,72.35130,130.97748,173.35980,181.82072,227.21196,249.70500,263.51652,302.28240,261.80370,297.01602,311.04687,290.82942,278.53696,309.85046,191.91568,281.65125,260.92248,310.83156,247.56654,239.47504,251.62779,303.21594,331.70137,257.04378,379.55675,395.68419,320.57988,380.20752,397.56811,336.20468,313.29385,407.20420,396.31329,554.76180,428.47708,558.38166,470.21106,460.04952,516.72075,489.25359,451.39059,510.36009,449.33968,534.59616,552.63810,483.61040,509.24095,453.68892,589.88052,595.83830,479.39454,515.04689,617.47644,584.24352,469.85328,556.01821,580.25640
2,A18,0,2,e11x32STPhoRadA,-37.24756,-17.70752,-15.20883,-21.43774,-20.21095,9.91232,-9.62712,-19.99946,-40.79250,-42.45948,-24.99512,4.36932,42.58976,-3.99360,6.04890,49.73996,112.51200,140.20032,226.40855,230.46501,212.77912,274.77797,258.84612,278.19190,303.76008,302.72074,304.14685,347.07483,286.48090,254.74176,306.58908,304.95940,378.23976,271.22888,290.05245,287.34406,307.34235,318.20192,321.51712,457.88140,396.31845,363.00684,427.94880,405.54096,367.11210,331.03070,418.49680,392.97915,483.83971,382.91113,515.77636,476.11068,419.92754,449.79844,423.09962,453.40752,481.51466,422.01790,570.19260,558.91760,494.67216,493.46046,434.79504,635.25280,561.17867,475.06176,540.29282,549.04794,547.86980,432.44950,529.20340,473.02530
12,A18,1,0,e11x32STPhoRadA,-53.24100,-64.64403,-29.01171,-64.52160,-28.55916,-37.99782,-35.22584,-34.84622,-62.00320,-54.34152,65.88125,1005.09816,3349.81364,6989.07690,9900.44528,11856.32027,12966.33429,13503.21168,14171.82248,14616.88968,15203.74471,15405.79180,15641.26550,15808.08160,15895.53846,15938.27469,15947.35380,15994.18048,16057.80936,16013.55478,16112.91450,16208.21856,16329.92487,16386.68031,16371.77790,16559.30248,16666.19577,16840.96205,16914.62520,17172.22224,17170.15644,17275.03740,17286.24534,17314.98120,17390.12556,17294.47468,17459.23410,17428.70496,17665.21656,17573.76400,17698.93323,17634.98034,17597.08160,17740.47222,17632.17900,17745.74592,17672.51136,17688.99330,17723.60136,17799.99632,17684.15076,17745.29575,17614.61435,17785.26544,17848.86675,17658.40006,17719.70956,17786.00592,17674.65648,17774.50716,17910.27008,17916.98458
13,A18,1,1,e11x32STPhoRadA,1.28828,17.70240,-5.81716,-7.48229,12.84969,3.04420,9.60813,-5.76345,-8.05250,163.88655,1301.68800,4185.24683,8297.71635,13631.62944,20930.35294,28335.77665,34598.23960,38835.89915,39680.45120,41442.76512,42315.57200,43371.27354,43760.04160,44469.31280,45212.84975,45465.42480,46111.62453,46336.00356,46483.99131,46414.83573,46615.32387,46869.55356,46866.07926,46795.88584,46835.03930,46984.31044,47058.64950,47125.16358,47345.59456,47619.19188,47364.86535,47678.36568,47830.23135,47976.89172,47882.89938,48157.83936,47872.31628,48150.64768,48230.17881,48013.60989,48068.64100,48095.05838,48032.50312,47999.53834,47847.50133,47702.85448,47523.36380,47595.26202,47536.23628,48006.31424,48459.79860,48768.01906,48762.98928,48729.40292,48908.31058,49078.84778,48949.88544,48959.85093,48573.05628,49183.80054,48956.68856,49219.09924
14,A18,1,2,e11x32STPhoRadA,34.91972,34.15350,14.73500,15.23600,12.59434,54.06780,40.69829,4.06359,13.90288,602.48511,2240.17406,4785.74620,7909.22476,11732.57470,16096.38563,21931.57110,27703.86840,33102.65952,35588.48400,34801.52614,36089.59521,37516.42248,38046.50868,38487.58454,39228.48187,39699.62480,40205.21488,40666.05117,40817.73325,41084.73152,41163.36942,41349.87040,41265.97412,41335.54450,41265.31936,41447.55804,41498.94297,41517.68400,41488.22925,41608.53804,41414.06171,41378.52105,41462.37810,41364.74416,41308.12460,41533.85952,41503.15588,41667.90312,41636.48832,41531.42432,41503.85544,41146.63963,41181.94386,41123.13600,40888.58002,40940.24160,40842.85442,41184.74382,40838.44959,40868.66560,40804.60241,40877.41161,40710.91570,40796.87196,40713.38524,40462.16312,40589.12874,40531.81093,40279.92562,40188.01224,40101.43164,40237.24628
24,A18,2,0,e11x32STPhoRadA,-31.40460,-13.37076,-50.91418,-39.99992,-13.11885,-1.39376,-33.43050,-25.92315,-40.54455,-39.26272,3.97370,773.74174,2449.16217,5365.19268,8796.37950,12194.49216,14692.57218,16876.04348,18128.94842,19654.15805,20723.81974,21524.92308,22219.74550,22602.49794,23040.47754,23316.98607,23484.20928,23760.38978,24071.77240,24160.32010,24329.88311,24561.74524,24733.59720,25044.44448,25160.42161,25554.11740,25791.62816,25972.30227,26693.45280,26824.94350,26940.90238,27000.46183,27321.30648,27638.57772,27779.06992,27920.07504,28282.02384,28406.54557,28645.74544,28755.90450,29106.09796,29076.12862,29108.38620,29083.32540,29068.83311,29168.38100,29202.79012,29144.46680,29318.12022,29303.67297,29310.44454,29220.34944,29234.46808,29592.30222,29432.57166,29342.33679,29435.24850,29593.78680,29473.44153,29480.45320,29651.46912,29646.40200
25,A18,2,1,e11x32STPhoRadA,-13.14176,-57.58893,-19.51794,-13.70080,-3.37680,0.79168,15.94260,-7.84845,-33.68260,77.14352,888.30300,3536.09038,6870.69698,10993.81512,16445.88432,23539.82664,30825.18998,38821.05992,45144.46303,46969.09592,49605.59472,51973.36353,53694.33355,55518.73925,57768.22194,59342.43602,61586.93376,63299.70725,64816.28574,66355.76448,67216.44900,68557.25955,69234.61734,70322.32428,71633.76365,72883.36735,73275.22546,74457.54960,74529.31764,75541.61700,75666.91860,76547.09166,77593.57458,77554.24326,78116.32395,78336.21249,80075.13138,80844.49289,81568.34960,81863.86712,82379.24090,82727.00300,82806.01536,83417.67600,83352.12600,83056.65984,82604.89490,82661.19084,82303.33452,82661.83380,82514.45340,82757.65875,82584.47340,82726.51416,83036.99285,84496.82516,84618.37692,85753.47200,85479.18320,85830.87432,85426.08137,85411.58549
26,A18,2,2,e11x32STPhoRadA,43.21950,-5.52738,18.80940,8.20439,20.93013,37.32524,13.29200,18.98287,-2.45295,453.90240,1777.89480,3978.00424,6500.54262,9334.87236,12739.35840,16897.76200,21751.30750,27822.66285,33134.27382,37681.16560,36434.37490,37000.26700,37991.01123,39456.93425,41122.46054,42812.05380,44663.12786,46491.61795,48623.20777,50399.64984,51817.57252,53257.55274,54209.24050,55332.91872,56542.39360,57259.62375,58215.44400,58689.36564,59264.56704,59733.15201,59784.96537,60370.85439,60704.83510,60820.56340,60915.05127,61641.93604,61447.60176,61396.45974,62207.67402,62290.02725,62630.26294,62625.39525,62880.27644,63075.10896,62895.85055,62799.84465,62530.07655,62613.77778,62128.14594,62356.37500,61908.91800,61972.36395,62086.08198,61355.96280,61372.01226,61324.61340,61127.44815,60954.43200,60484.59936,60526.09830,60360.90712,60120.54896

In [74]:
bulk_fluo.to_csv('datasets/bulk_fluo_induction.csv', index=False)
fluo.to_csv('datasets/fluo_induction.csv', index=False)
od.to_csv('datasets/od_induction.csv', index=False)

### First-round Data

In [ ]:
df = pd.read_csv('datasets/raw.csv')
df.columns = df.iloc[0]
df.drop(df.index[0], inplace=True)
df.dropna(inplace=True)
print(df.shape)
df.head()

In [ ]:
map_ecf = {'Sample X1': 'e15',
'Sample X2': 'e22',
'Sample X3': 'e32',
'Sample X4': 'e33',
'Sample X5': 'e34',
'Sample X6': 'e41',
'Sample X7': 'e42',
'Sample X8': 'e15',
'Sample X9': 'e22',
'Sample X10': 'e38',
'Sample X11': 'e16',
'Sample X12': 'e33',
'Sample X13': 'e15',
'Sample X14': 'e16',
'Sample X15': 'e17',
'Sample X16': 'e20',
'Sample X17': 'e22',
'Sample X18': 'e26',
'Sample X19': 'e32',
'Sample X20': 'e33',
'Sample X21': 'e34'}
map_int = {'Sample X1': 'SspGyrB',
'Sample X2': 'SspGyrB',
'Sample X3': 'SspGyrB',
'Sample X4': 'SspGyrB',
'Sample X5': 'SspGyrB',
'Sample X6': 'SspGyrB',
'Sample X7': 'SspGyrB',
'Sample X8': 'TerThyXS2',
'Sample X9': 'TerThyXS2',
'Sample X10': 'TerThyXS2',
'Sample X11': 'TerThyXS1',
'Sample X12': 'TerThyXS1',
'Sample X13': 'STPhoRadA',
'Sample X14': 'STPhoRadA',
'Sample X15': 'STPhoRadA',
'Sample X16': 'STPhoRadA',
'Sample X17': 'STPhoRadA',
'Sample X18': 'STPhoRadA',
'Sample X19': 'STPhoRadA',
'Sample X20': 'STPhoRadA',
'Sample X21': 'STPhoRadA'}

In [ ]:
df['ECF'] = df['Content'].map(map_ecf)
df['Intein'] = df['Content'].map(map_int)
df.loc[df['Group'].isin(['A', 'E']), 'Ara'] = 0
df.loc[df['Group'].isin(['A', 'E']), 'Cuma'] = 0
df.loc[df['Group'].isin(['B', 'F']), 'Ara'] = 1
df.loc[df['Group'].isin(['B', 'F']), 'Cuma'] = 0
df.loc[df['Group'].isin(['C', 'G']), 'Ara'] = 0
df.loc[df['Group'].isin(['C', 'G']), 'Cuma'] = 1
df.loc[df['Group'].isin(['D', 'H']), 'Ara'] = 1
df.loc[df['Group'].isin(['D', 'H']), 'Cuma'] = 1
df = pd.concat([df[['ECF', 'Intein', 'Ara', 'Cuma']],
                 df.drop(['ECF', 'Intein', 'Ara', 'Cuma', 'Well', 'Content', 'Group'], axis=1)],
                 axis=1)
df.head()

In [ ]:
cols = list(range(0,77))
fluo = df.iloc[:, cols]
#fluo.to_csv('datasets/fluoOD-all.csv', index=False)
fluo.head()

In [ ]:
cols = list(range(0,4)) + list(range(77,150))
od = df.iloc[:, cols]
#od.to_csv('datasets/OD-all.csv', index=False)
od.head()

In [ ]:
def parse_minutes(x):
    spl = x.split(' ')
    hours = int(spl[0]) * 60
    mins = int(spl[2]) if spl[2] != '' else 0
    return hours + mins

fluo11 = fluo[(fluo['Ara']==1) & (fluo['Cuma']==0)]
fluo11['index'] = fluo11['ECF'] + fluo11['Intein']
fluo11.set_index('index', inplace=True)
fluo11.drop(['ECF', 'Intein', 'Ara', 'Cuma'], axis=1, inplace=True)
fluo11 = fluo11.transpose().reset_index()

fluo11['time'] = fluo11[0].apply(parse_minutes)
fluo11 = fluo11.set_index('time')
fluo11 = fluo11.drop(0, axis=1)
fluo11

In [ ]:
od11 = od[(od['Ara']==1) & (od['Cuma']==0)]
od11['index'] = od11['ECF'] + od11['Intein']
od11.set_index('index', inplace=True)
od11.drop(['ECF', 'Intein', 'Ara', 'Cuma'], axis=1, inplace=True)
od11 = od11.transpose().reset_index()

od11['time'] = od11[0].apply(parse_minutes)
od11 = od11.set_index('time')
od11 = od11.drop(0, axis=1)
od11

In [ ]:
for col in fluo11.columns:
    try:
        fluo11[col] = fluo11[col].astype(float)
    except:
        print(col)
        continue

In [ ]:
for col in od11.columns:
    od11[col] = od11[col].astype(float)

In [ ]:
fluo11.to_csv('datasets/fluo-10.csv')
od11.to_csv('datasets/od-10.csv')
(fluo11 * od11).to_csv('datasets/bulk-fluo-10.csv')